.card {
  border: 1px solid $card-border-color;
  border-radius: 5px;
  padding: 0 14px 15px;
  box-sizing: border-box;

  &__image-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0  5px 15px;
    height: 194px;
  }

  &__image {
    padding: 11px 0;
    height: 134px;
    width: 160px;

    border: 3px solid transparent;
    border-radius: 4px;

    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
      border-color: $card-border-color;
    }
  }

  &__description {
    margin-bottom: 15px;
  }

  &__name {
    @include font-medium;
    margin-bottom: 5px;
    line-height: 15px;
  }

  &__rate {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    align-items: center;
  }

  &__price-block {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    align-items: baseline;
  }

  &__amount {
    @include font-large;
  }

  &__buy {
    box-sizing: border-box;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    @include font-big;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $action-color;
    border: 1px solid $action-color;
    border-radius: 5px;
    transition: background-color 1s, color 1s;

    &:hover {
      background-color: #fff;
      color: $action-color;
    }

    &:focus {
      outline: none;
    }
  }
}
