.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,200px);
  grid-gap: $margin-between-cardsY $margin-between-cardsX;
  justify-content: center;

  &--size {
    max-width: ($card-width + $margin-between-cardsX) * $max-cards-in-line;
    margin: 0 auto;
  }

  &__card {
    width: $card-width;
  }
}
