.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &--size {
    max-width: ($card-width + $margin-between-cards*2) * $max-cards-in-line;
    width: calc(100% - 16px);
    margin: 0 auto;
  }

  &__card {
    width: $card-width;
    margin: 0 $margin-between-cards 50px;
  }
}
