.header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &--size {
    margin-bottom: 50px;
  }

  &__logo {
    align-self: center;
    width: $logo-size;
    height: $logo-size;
    transition: transform 1s;

    &-img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      transform: scale($logo-scale);

      @media (max-width: 900px) {
        transform: scale($logo-scale) translate(-20%, 0);
      }
    }
  }

  &__nav-list {
    display: grid;
    grid-template-columns: repeat(8,auto);
    list-style: none;
  }

  &__nav-item {
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__nav-link {
    display: grid;
    align-items: center;
    white-space: nowrap;
    height: 60px;
    color: #000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    @include font-medium;
    transition: color 1s;

    &:hover {
      color: $action-color;
    }
  }
}

.is-active {
  color: $action-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    border-radius: 8px;
    background-color: $action-color;
  }
}
